<div class="container-fluid">
    <div class="row">
        <div class="btn-group btn-group-justified">
            <a href="/runner" class="btn btn-default">Profile</a>
            <a href="/allOrder" class="btn btn-default">All</a>
            <a href="/activeOrder" class="btn btn-default">Active</a>
            <a href="/historyOrder" class="btn btn-default">History</a>
        </div>
    </div>
    <br />
    <div class="row">
        <b><h1>Profile Runner</h1></b>
        <hr />
        <div>
            <h3>Runner Id - {{vm.profiles.id}}</h3>
            <h3>Runner Name - {{vm.profiles.name}}</h3>
        </div>
        <hr />
        <div class="col-xs-12">
            <img style="max-height:200px; max-width:310px;" src="http://2static3.fjcdn.com/comments/Just+do+it+and+surprise+yourself+you+ll+never+know+_88d493cd22c22df3b5b6e704bc09d850.jpg" />
        </div>
    </div>
</div>