<!--<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="carousel slide" id="carousel-402780">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="../../Images/index/CarouselFirst.jpg" />
                    </div>
                </div>
            </div>
            <h1 align="center">
                <b>Gridiron</b>Grub
            </h1>
        </div>
    </div>
</div>-->

<div class="bulletin-background"> 
    <div class="row">
        <div class="col-md-12 text-center div-box-holder-bulletin">
            <h1 class="bulletin-heading"><b>Gridiron</b>Grub</h1>
        </div>
    </div>
</div>
