<div class="container" style="margin-top: -40px;">
    <div class="row text-center">
        <div class="col-xs-12">
            <h2><b>Delivering</b>Grub</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-6">
            <span class="disc-item-list">Congrats, we're bringing your order now!</span>
        </div>
        <div class="col-xs-3">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr />
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-10 text-center">
        <p style="margin-left: -50px;"><img src="../../../../../Images/gglogogreen.png" height="300" width="300"></p>
    </div>
    <div class="col-xs-2">
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8 text-center">
            <div class="row">
                <div class="col-xs-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>"Don't Miss a Thing!"</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

<br />
<br />
