<div class="container">
    <div class="row text-center">
        <div class="col-xs-12">
            <div class="div-box-holder">
                <h2 style="color: #d9534f;">Your Order Contains Alcohol!</h2>
                <h4>You will be required to show valid identification before receiving your alcoholic purchases from our runner. If you are not of legal age, you will not be served alcohol and your money <u style="color: #d9534f;">will NOT</u> be refunded</h4>
            </div>
        </div>
    </div>
    <br/>
    <br />
    <div class="btn-group btn-group-justified navbar-fixed-bottom">
        <a ng-click="vm.goToCart();" class="btn btn-default">Back</a>
        <a ng-click="vm.goToDescription();" class="btn btn-primary">Continue</a>
    </div>
</div>
