<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row" ng-show="vm.showForgot">
                <div ng-include="'/app/components/password/views/forgot.html'"></div>
            </div>
            <div class="row" ng-show="vm.showConfirmation">
                <div ng-include="'/app/components/password/views/confirmation.html'"></div>
            </div>
            <div class="row" ng-show="vm.showReset">
                <div ng-include="'/app/components/password/views/reset.html'"></div>
            </div>
        </div>
    </div>
</div>
