<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group btn-group-justified">
                <a ng-click="vm.goToAll();" class="btn btn-default">Your Vendors</a>
                <a ng-click="vm.goToSpecific();" class="btn btn-default">Find Vendor by Id</a>
            </div>
            <br />
            <div class="row" ng-show="vm.showAll">
                <div ng-include="'/app/components/manager/views/all.html'"></div>
            </div>
            <div class="row" ng-show="vm.showSpecific">
                <div ng-include="'/app/components/manager/views/specific.html'"></div>
            </div>
        </div>
    </div>
</div>

<!--modals-->
<div ng-include="'/app/components/manager/views/modals.html'"></div>
