<div class="container-fluid">
    <div class="row">
        <div class="btn-group btn-group-justified">
            <a href="/runner" class="btn btn-default">Profile</a>
            <a href="/allOrder" class="btn btn-default">All Orders</a>
            <a href="/activeOrder" class="btn btn-default">Active Orders</a>
            <a href="/historyOrder" class="btn btn-default">Order History</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <h1>Profile Index</h1>
        </div>
    </div>
    <hr />
    <div class="row text-center">
        <div class="col-md-12">
            <p><img height="400" width="700" src="http://2static3.fjcdn.com/comments/Just+do+it+and+surprise+yourself+you+ll+never+know+_88d493cd22c22df3b5b6e704bc09d850.jpg" /></p>
        </div>
    </div>
</div>
