<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group btn-group-justified">
                <a ng-click="vm.goToOpen();" class="btn btn-default">Open Orders</a>
                <a ng-click="vm.goToRecent();" class="btn btn-default">Recent Orders</a>
                <a ng-click="vm.goToSpecific();" class="btn btn-default">Find Order by Id</a>
            </div>
            <br />
            <div class="row" ng-show="vm.showOpen">
                <div ng-include="'/app/components/admin/orders/views/open.html'"></div>
            </div>
            <div class="row" ng-show="vm.showRecent">
                <div ng-include="'/app/components/admin/orders/views/recent.html'"></div>
            </div>
            <div class="row" ng-show="vm.showSpecific">
                <div ng-include="'/app/components/admin/orders/views/specific.html'"></div>
            </div>
        </div>
    </div>
</div>

<!--modals-->
<div ng-include="'/app/components/admin/orders/views/modals.html'"></div>